<div class="footer-sponsors">
    <h3>About</h3>
    <p>The TICE project is generously supported by Computing At School and The Raspberry Pi Computing Education Research Centre</p>
    <div class="sponsor-logos">
        <div class="sponsor">
            <img src="/assets/images/cas-logo.png" alt="Sponsor 1 LOGO">
        </div>
        <div class="sponsor-logo">
            <img src="sponsor-logo2.png" alt="Sponsor 2 LOGO">
        </div>
    </div>
</div>
<!-- <div class="footer-form">
    <h3>Register for Updates</h3>
    <form>
        <input type="email" placeholder="Your email" required>
        <button type="submit" class="cta-button">Subscribe</button>
    </form>
</div> -->
<div class="footer-links">
    <h3>Quick Links</h3>
    <ul>
        <li><a href="#overview">Course Overview</a></li>
        <li><a href="#materials">Learning Materials</a></li>
        <li><a href="#videos">Video Lectures</a></li>
        <li><a href="#structure">Course Structure</a></li>
    </ul>
</div>
<div class="footer-copyright">
    <p>&copy; 2024 RPCERC All rights reserved. | <a href="/pages/privacy/">Privacy Policy</a></p>
</div>

