<nav class="nav">
    <div class="nav-left">
      <a class="brand" href="/">LOGO</a>
      <div class="nav-right">
        {% for item in navigation.items %}
            <a class="nav-item" href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.title }}</a>
        {% endfor %}
        <a class="button action">Register</a>
      </div>
    </div>
  </nav>