<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.shortTitle }}</title>
    <link 
        rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" 
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" 
        crossorigin="anonymous"
    />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
    <link 
        rel="stylesheet" 
        href="{{ '/css/style.css' | url }}" 
    />
    <link 
        rel="stylesheet" 
        href="{{ '/css/vendor/atom-dark.css' | url }}" 
    />
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
</head>
