// @import "vendor/normalise.css";
@import "vendor/chota.css";

:root {
    --bg-color: #ffffff;
    --bg-secondary-color: #f3f3f6;
    --color-primary: #336699;
    --color-primary-hover: #117733;
    --color-lightGrey: #d2d6dd;
    --color-grey: #747681;
    --color-darkGrey: #3f4144;
    --color-error: #d43939;
    --color-success: #28bd14;
    --grid-maxWidth: 120rem;
    --grid-gutter: 2rem;
    --font-size: 1.6rem;
    --font-color: #333;
    --font-family-sans: -apple-system, "BlinkMacSystemFont", "Avenir",
      "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
    --border-radius: 12px;
  }

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.page-container {
    padding: 4rem;

}

.nav {
    background-color: #eeeeee;
    padding: 2rem;
    width: 100%;
}

.nav-item {
    font-size: 80%;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-item[data-state="active"] {
    color: green;
    border-top: 1px solid green;
}


/* Hero */

.hero {
    background-image: url('../assets/images/hero.jpg');
    background-size:cover;
    background-position: center;
    height: 90vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    padding: 20px;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay for text visibility */
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.cta-button {
    padding: 0.75rem 1.5rem;
    background-color: #ff6f61;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ff3b2f;
}



/* features */
.features-section, .card-section, .panel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    width: 100%;
}


.cards-container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 2rem;
    padding: 1rem;
}

.card {
    display: flex;
    flex: 1 1 calc(25% - 2rem);  /* Equal width and some space for gap */
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid var(--color-lightGrey);
    border-radius: 20px;
    box-sizing: border-box;
    // padding: 3rem;

    
}

.card > p {
    text-align: center;
    font-size: 80%; 
}

.card-icon {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card-title {
    margin: 0.5rem 0;
    padding: 1rem;
}

.card-description {
    flex: 1;
    text-align: center;
    margin: 0.5rem 0;
    padding-bottom: 1rem;
}

.card-button {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    text-align: center;
}

.card-button:hover {
    background-color: var(--color-primary-hover);
}

.card-image {
    width: auto;
    height: 200px;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styles for the panels */

.info-panels {
    background-color: red;;
}

.panel {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    // background-color: #efefef;
    height: 70vh;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.panel-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.panel-text {
    flex: 1;
    padding: 10px;
}

.panel-text i {
    margin-right: 10px;
}

.panel-image {  
    flex: 1;
    text-align: right;
}

.panel-image img {
    max-width: 100%;
    border-radius: 20px;
    height: auto;
}

.fas {
    color: #336699;
}


/* footer */

.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2rem 0;
    background-color: #eeeeee;
    color: #111111;
    padding: 1rem;
}

.footer > div {
    padding: 1rem;
    box-sizing: border-box;
}

.footer-sponsors, .footer-form, .footer-links {
    flex: 1 1 30%; /* Adjust width as necessary */
    min-width: 200px;
    text-align: center;
}

.footer-sponsors h3, .footer-form h3, .footer-links h3 {
    margin-top: 0;
}

.footer-links {
    text-align: center;
}

.sponsor-logos {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 1rem;
}

.sponsor-logos img {
    max-height: 150px;
    width: auto;
}

.footer-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // height: 100%;
}

.footer-form form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-form input[type="email"] {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}

.footer-form button {
    padding: 0.5rem;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-form button:hover {
    background-color: #ff3b2f;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 0.5rem 0;
}

.footer-links ul li a {
    color: #cccccc;
    text-decoration: none;
}


.footer-links ul li a:hover {
    color: #999933;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
    text-align: center;
    font-size: 0.875rem;
    // padding-top: 1rem;
    // padding: 1rem;
    order: 1; /* Place it last in the visual order */;
    color: #999999;
    margin-left: 4rem;
    margin-right: 4rem;
}

.social-icons {
    font-size: 2rem;
    padding: 10px;
    color: #999999;
    margin-top: 2rem;

    .social-icon {
        padding: 0.5rem;
    }
}

@media (min-width: 768px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .footer-sponsors, .footer-form, .footer-links {
        flex: 1 1 30%;
    }

    .footer-copyright {
        flex: 1 1 100%;
        order: 2; /* Ensure it's last on larger screens */
    }
}


.module-container, .theory-container {
  display: grid;
  gap: 1rem;
  grid-template-areas: 
    "sidebar"
    "content";
    grid-template-columns: 1fr 5fr;
}

.theory-container {
    color: var(--color-primary);
}

.module-header {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    align-items: center;
    // border: 2px solid var(--color-primary);
    border-radius: 20px;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.image-column {
    width: 100%;
    height: auto;
}

.button-column {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem;
}

.sidebar {
    grid-area: sidebar;
    background-color: #f4f4f4;
    width: 400px;
    padding: 2rem;
    margin: 1rem;
    border: 2px solid var(--color-lightGrey);
    border-radius: 20px;
    height: fit-content;
}

.theory-container > .sidebar {
    background-color: #f4f4ff;
    border: 2px solid var(--color-primary);
}

.content {
    grid-area: content;
  padding: 2rem;
  margin: 1rem;
}

.abstract {
    padding: 3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border: 2px solid var(--color-primary);
    border-radius: 20px;
    background-color: var(--color-primary);
    color: var(--color-lightGrey);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}