// @import "vendor/normalise.css";
@import "vendor/chota.css";

:root {
    --bg-color: #ffffff;
    --bg-secondary-color: #f3f3f6;
    --color-primary: #336699;
    --color-primary-hover: #117733;
    --color-secondary: #cc9933;
    --color-lightGrey: #d2d6dd;
    --color-grey: #747681;
    --color-darkGrey: #3f4144;
    --color-error: #d43939;
    --color-success: #28bd14;
    --color-nav-background: #eeeeee;
    --grid-maxWidth: 120rem;
    --grid-gutter: 2rem;
    --font-size: 1.6rem;
    --font-color: #333;
    --font-family-sans: -apple-system, "BlinkMacSystemFont", "Avenir",
      "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
    --border-radius: 12px;
  }

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    border-bottom: 1px solid var(--color-lightGrey);
}

a {
    color: var(--color-secondary);
    font-weight:600;
}

a:hover {
    color: var(--color-secondary);
    transition: background-color 0.3s ease;
}

h1, h2 { 
    color: var(--color-primary)
}

.page-container {
    padding: 4vw;

}


/* modifications to the navigation bar */

.nav {
    border-bottom : 0.3rem solid var(--color-secondary);
}

.nav a[data-state="active"] {
    color: var(--color-secondary) !important;
}

/* Hero */

.hero {
    background-image: url('../assets/images/hero.jpg');
    background-size:cover;
    background-position: center;
    height: 66vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    // padding: 50px;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay for text visibility */
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: var(--color-secondary);
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}


.cta-button {
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically centers the text */
    padding: 1.5rem 1.5rem;
    width: auto; /* Adjust width based on content */
    height: auto; /* Adjust height based on content */
    width: 18   0px;
    text-align: center;
    background-color: var(--color-secondary);
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    box-shadow: 5px 5px 5px rgba(51, 102, 153, 0.6);
    border-radius: 25px;
    transition: background-color 0.1s ease;
    cursor: pointer;
}

.cta-button:hover {
    // background-color: #997711;
    color: var(--bg-color)
}


/* features */
.features-section, .card-section, .panel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    width: 100%;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 2rem;
    padding: 1rem;
}

.card {
    display: flex;
    flex: 1 1 calc(25% - 2rem);  /* Equal width and some space for gap */
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid var(--color-lightGrey);
    border-radius: 20px;
    box-sizing: border-box;
    // padding: 3rem;    
}

.card > p {
    text-align: center;
    font-size: 80%; 
}

.card-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.card-title {
    margin: 0.5rem 0;
    padding: 1rem;
    color: var(--color-secondary);
    color: var(--color-darkGrey);
}

.card-description {
    flex: 1;
    text-align: center;
    margin: 0.5rem 0;
    padding-bottom: 1rem;
}

.card-button {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    text-align: center;
}

.card-button:hover {
    background-color: var(--color-primary-hover);
}

.card-image {
    width: auto;
    height: 200px;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        margin-bottom: 2rem;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
        margin-bottom: 1rem;
    }
}

/* Styles for the panels */
.panel {
    margin: 0px 0;
    padding: 20px;
    // border: 1px solid transparent;
    // border-radius: 20px;
    // background-color: #efefef;
    height: 70vh;
    // box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.panel-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.panel-text {
    flex: 1;
    padding: 10px;
}

.panel-text i {
    margin-right: 10px;
}

.panel-image {  
    flex: 1;
    text-align: right;
}

.panel-image img {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(51,102,153,0.6);
    height: auto;
}

@media (max-width: 768px) {
    .panel {
        height: auto; /* Adjust height for smaller screens */
    }

    .panel-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .panel-text {
        padding: 20px 0;
    }

    .panel-image {
        text-align: center;
        margin-top: 20px;
    }

    .panel-image img {
        max-width: 80%;
        height: auto;
    }
}


.fas {
    color: #336699;
}


/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    background-color: var(--color-nav-background);
}

.footer > div {
    padding: 1rem;
    box-sizing: border-box;
}

.footer-sponsors, .footer-form, .footer-links {
    flex: 1 1 30%; /* Adjust width as necessary */
    min-width: 200px;
    text-align: center;
}

.footer-sponsors h3, .footer-form h3, .footer-links h3 {
    margin-top: 0;
}

.footer-links {
    text-align: center;
}

.sponsor-logos {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 1rem;
}

.sponsor-logos img {
    max-height: 150px;
    width: auto;
}

.footer-sponsors p {
    font-size: 80%;
}

.footer-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // height: 100%;
}

.footer-form form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-form input[type="email"] {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}

.footer-form button {
    padding: 0.5rem;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-form button:hover {
    background-color: #ff3b2f;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 0.5rem 0;
}

.footer-links ul li a {
    color: var(--color-grey);
    text-decoration: none;
    font-size: 80%;
    font-weight: normal;
}


.footer-links ul li a:hover {
    color: #999933;
    transition: background-color 0.3s ease;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
    text-align: center;
    font-size: 80%;
    color: #f4f4f4;
    background-color: var(--font-color);
    padding: 1rem;
}

.social-icons {
    padding: 0px;
    margin-top: 2rem;
}

.social-icon {
    color: var(--color-primary) !important;
}


@media (max-width: 768px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .footer-sponsors, .footer-form, .footer-links {
        flex: 1 1 30%;
    }

    .footer-copyright {
        flex: 1 1 100%;
        order: 2; /* Ensure it's last on larger screens */
    }
}

.image-column {
    width: 100%;
    height: auto;
    text-align: center;
}

.button-column {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem;
}

.sidebar-menu {
    background-color: var(--bg-secondary-color);
    border: 2px solid var(--color-lightGrey);
    border-radius: 20px;
    height: fit-content;
    font-size: 90%;
}

.content {
  padding: 2rem;
  margin: 1rem;
}

.text-content {
    padding : 1rem;
}

.abstract {
    padding: 3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border: 2px solid var(--color-primary);
    border-radius: 20px;
    background-color: var(--color-primary);
    color: var(--color-lightGrey);
    box-shadow: 10px 10px 10px rgba(100,100,100,1);
}

// .sidebar ul {
//   list-style-type: none;
//   padding: 0;
//   margin: 0;
// }

// .sidebar ul li {
//   margin-bottom: 10px;
// }

// .sidebar ul li a {
//   text-decoration: none;
//   color: #333;
// }

// .sidebar ul li a:hover {
//   text-decoration: underline;
//   transition: background-color 0.3s ease;
// }






/* BLOG POSTS */

.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.blog-card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    overflow: hidden;
    width: calc(33.333% - 20px); /* Adjust to show 3 cards per row */
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    background: #fff;
}

.blog-card img {
    width: 100%;
    height: auto;
}

.blog-card-content {
    padding: 15px;
}

.blog-card-title {
    font-size: 1.2em;
    margin: 0 0 10px;
    text-align: center;
}

.blog-card-description {
    flex-grow: 1;
}

.blog-card-button {
    text-align: center;
    margin: 15px 0 0;
}
.blog-card-button a {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background: #007BFF;
    border-radius: 5px;
    text-decoration: none;
}

@media (max-width: 768px) {
.blog-card {
    width: calc(50% - 20px); /* Adjust to show 2 cards per row */
}
}
@media (max-width: 480px) {
.blog-card {
    width: 100%; /* Adjust to show 1 card per row */
}
}

.post-date {
    text-align: center;
    font-size: 70%;
}

.footnote-item {
    // font-style: italic;
    font-size: 70%;
    color: var(--color-grey);
}



.brand-logo  {
    width: 200%;
    max-width: 400px;
    height: auto;
    border: 1px solid red;
    // padding: 2rem;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the icon */
    left: 50%;
    margin-left: -60px; /* Use half of the width to center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }

  .social-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }