---
hero: true
---

{% extends "layouts/base.njk" %}
<!-- Card Section Below Her"o Unit -->
{% block content %}
<div class="container">

  <br />
  <section id="info-cards" class="cards-container">
    {% for card in cards %}
    <div class="card">
      <div class="card-icon">
        <i class="{{ card.icon }}"></i>
      </div>
      <header>
        <h4 class="card-title">{{ card.title }}</h4>
      </header>
      <p class="card-description">{{ card.description }}</p>
      <!-- <footer> -->
        <!-- <a class="card-button" href="{{ card.link }}">Find out more</a> -->
      <!-- </footer> -->
    </div>
    {% endfor %}
  </section>
  <br />
  <!-- Information Panels Section -->
  <section id="info-panels"  class=""info-panels">
    {% for panel in collections.infoPanels %}
    <section class="panel">
      <div class="panel-content">
        <div class="panel-text">
          <h2>{{ panel.data.title }}</h2>
          <p>{{ panel.templateContent | safe }}</p>
        </div>
        <div class="panel-image">
          <img src="{{ panel.data.image }}" alt="{{ panel.data.imageAlt }}" />
        </div>
      </div>
    </section>
    {% endfor %}
  </section>
</div>
{% endblock %}