{% extends "layouts/page.njk" %}

{% block content %}
{% set modules = collections.modulePagesSorted %}
<div class="container">
    <div class="row">
        <div class="col-3 sidebar-menu">
            <!-- <h3>Contents</h3> -->
            <ul>
                {% for module in modules %}
                <li><a href="{{ module.url }}">{{ module.data.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-9 text-content">
            <h1>{{ title }}</h1>
            {% if bannerImage %}
            <div class="image-column">
                <img src="{{ bannerImage }}" alt="banner image">
            </div>
            {% endif %}
            {{ content | safe }}

            {% set moduleData = moduleData[title] %}
            {% if moduleData.title %}
            <!-- <p>{{ moduleData | dump }} {{ title }}</p> -->
                <h1>Resources</h1>
                {% if moduleData.slidesId %}
                    <h3>Presented Slides</h3>
                    {% embedGoogleSlides moduleData.slidesId %}
                {% endif %}
                {% if moduleData.readingResources %}
                    <h3>Additional Reading</h3>
                    <ul>
                    {% for item in moduleData.readingResources %}
                        <li><a href="{{item.url}}" target="_blank">{{ item.title }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}