{% extends "layouts/page.njk" %}

{% block content %}
{% set theory_topics = collections.theoryPagesSorted %}
<div class="container">
    <div class="row">
        <div class="col-3 sidebar-menu">
            <ol>
                {% for topic in theory_topics %}
                <li><a href="{{ topic.url }}">{{ topic.data.title }}</a></li>
                {% endfor %}
            </ol>  
        </div>

        <div class="col-9 text-content">
            <h1>{{ title }}</h1>
            {{ content | safe }}
        </div>
    </div>
</div>
{% endblock %}