<!DOCTYPE html>
<html lang="en">
  {% include "components/site-head.njk" %}
<body>

    {% include "components/navbar.njk" %}

    {% if hero %}
        {% include "components/hero.njk" %}
    {% else %}
        {% include "components/thin-banner.njk" %}
    {% endif %}
    <main>
    {{ content | safe }}
    </main> 
</body>
    {% include "components/footer.njk" %}
</html>